<nav class="blue">
    <div class="container">
        <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">Notekeeper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="https://github.com/Horllymobile/notekeeper/blob/main/README.md" target="_blank">About</a></li>
              <li><a href="https://github.com/Horllymobile" target="_blank">Author</a></li>
              <li><a href="https://github.com/Horllymobile/notekeeper" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
            <a data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
        <!-- <a data-target="slide-out" class=""><i class="fas fa-bars"></i></a> -->
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li><a class="sidenav-close"><i class="fas fa-times"></i></a></li>
    <!-- <a href="#" class="brand-logo">Notekeeper</a> -->
    <li><a  routerLink="/">Notekeeper</a></li>
    <li><div class="divider"></div></li>
    <li><a href="https://github.com/Horllymobile/notekeeper/blob/main/README.md" target="_blank">About</a></li>
    <li><div class="divider"></div></li>
    <li><a href="https://github.com/Horllymobile" target="_blank">Author</a></li>
    <li><div class="divider"></div></li>
    <li><a href="https://github.com/Horllymobile/notekeeper" target="_blank"><i class="fab fa-github"></i></a></li>
</ul>