<div>


  <div class="row">
    <div class="col l3 m3"></div>
    <div class="col l6 m6 s12">
      <app-search-input (search)="searchFunc($event)"></app-search-input>
    </div>
    <div class="col l3 m3 "></div>
  </div>


  <div *ngIf="newNotes?.length > 0">
    <app-note-list [notes] = "newNotes"></app-note-list>
  </div>

  <div *ngIf="newNotes.length <= 0">
    <p class="mute">Click the button to add note</p>
  </div>


  <a class="btn-floating btn-large waves-effect waves-light blue" routerLink="/notes/newNote"><i class="fas fa-plus"></i></a>


</div>